## 비시퀀스(non-sequence)형 : 순서가 없는(non-ordered) 데이터
- 세트(set), 딕셔너리(dictionary)

## 세트(set)
### 중괄호 혹은 set()를 통해 생성
- 빈 세트를 만들기 위해서는 set()를 반드시 활용해야 함
- 순서가 없어서 별도의 값에 접근 할 수 없다.
### 수학에서의 집합과 동일한 구조를 가진다.
- 집합 연산이 가능
- 중복된 값이 존재하지 않는다.

In [1]:
{1, 2, 3, 2, 1}

{1, 2, 3}

In [3]:
blank_set1 = {}
print(type(blank_set1))

<class 'dict'>

In [4]:
blank_set2 = set()
print(type(blank_set2))

<class 'set'>

In [5]:
# 순서가 없기 때문에, 인덱스 접근 등을 통해 특정 값에 접근할 수 없다.
{1, 2, 3}[0]

<>:2: SyntaxWarning: 'set' object is not subscriptable; perhaps you missed a comma?
<>:2: SyntaxWarning: 'set' object is not subscriptable; perhaps you missed a comma?
C:\Users\csmoo\AppData\Local\Temp/ipykernel_18884/1380556741.py:2: SyntaxWarning: 'set' object is not subscriptable; perhaps you missed a comma?
  {1, 2, 3}[0]

TypeError: 'set' object is not subscriptable

In [6]:
set1 = {2, 4, 6}
set2 = {3, 6, 9}

In [7]:
# 차집합
set1 - set2

{2, 4}

In [10]:
# 합집합
set1 | set2

{2, 3, 4, 6, 9}

In [11]:
# 교집합
set1 & set2

{6}

In [14]:
# 고유한 지역의 개수 구하기
city_list = ['서울', '서울', '대전', '광주',
'서울', '대전', '부산', '부산']

In [15]:
len(set(city_list))

4

In [16]:
set(city_list)

{'광주', '대전', '부산', '서울'}

## 딕셔너리(dictionary)
### key와 value가 쌍으로 이뤄진 자료구조
- key는 변경 불가능한 데이터(immutable)만 활용 가능
    - string, integer, float, boolean, tuple, range
- value는 모든 값으로 설정 가능(리스트, 딕셔너리 등)
### 중괄호 혹은 dict()를 통해 생성
### key를 통해 value에 접근

In [20]:
dict_a = {'a':'apple', 'b':'banana', 'c':'cat', 'list':[1, 2, 3]}
print(dict_a)

{'a': 'apple', 'b': 'banana', 'c': 'cat', 'list': [1, 2, 3]}

In [21]:
dict_a['list']

[1, 2, 3]

In [22]:
dict_b = {[1, 2, 3]:'hello'}

TypeError: unhashable type: 'list'

In [23]:
dict_c = {'a': 'apple', 'b': 'banana', 'c': 'cat', 'r_list': ['Seoul', 'Busan']}

In [24]:
dict_c['r_list'][1]

'Busan'