## 산술연산자
### +    덧셈
### -    뺄셈
### *    곱셈
### /    나눗셈
### //   몫
### %    나머지
### **   거듭제곱

In [1]:
print(5 / 2)
print(4 / 2)
print(5 // 2)
print(int(5/2))
print(5 % 2)

2.5
2.0
2
2
1

In [3]:
# 몫과 나머지를 동시에 반환
print(divmod(5, 2))

(2, 1)

## 비교연산자
### <            미만
### <=           이하
### >            초과
### >=           이상
### ==           같음
### !=           같지않음
### is           객체 아이덴티티(OOP)
### is not       OPP가 아닌 경우

In [4]:
3 > 6

False

In [5]:
4.0 == 4

True

In [6]:
6 > 0

True

In [7]:
'5' != 5

True

In [8]:
x = 6
x is None

False

## 논리연산자
### A and B     A와 B 모두 True일 경우, True
### A or B      A와 B 모두 False일 경우, False
### Not         True를 False로, False를 True로

In [9]:
num = 10
num >= 10 and num % 3 ==1

True

In [11]:
# 결과가 확실한 경우 두번째 값은 확인하지 않는다.
# and 연산에서 첫번째 값이 False인 경우 무조건 False => 첫번째 값 반환
# or 연산에서 첫번째 값이 True인 경우 무조건 True => 첫번째 값 반환
x = 5 and 4
y = 5 or 3
z = 0 and 5
i = 0 or 5
print(x, y, z, i)

4 5 0 5

## 복합연산자
### 연산과 대입이 함께 이뤄짐

In [13]:
total = 0
total += 1
print(total)

1

In [14]:
total = 0
while total < 5:
    print(total)
    total += 1

0
1
2
3
4

## Concatenation

In [16]:
'hello, ' + 'friend!'

'hello, friend!'

In [17]:
'f' in 'friend'

True

## Identity

In [18]:
# 파이썬에서 -5에서 256까지 숫자의 id는 동일하다
a = 3
b = 3
print(a is b)
print(id(a), id(b))

True
1891237325168 1891237325168

In [19]:
a = 258
b = 258
print(a is b)
print(id(a), id(b))

False
1891325411216 1891325410128

## Indexing / Slicing

In [20]:
'hello, friend!'[0]

'h'

In [21]:
'hello, friend!'[2:7]

'llo, '