# 컨테이너(Contaioner)
- 여러 개의 값을 저장할 수 있는 것(객체)
# 컨데이너 분류
## 변경 불가능한 데이터(immutable)
- literal : Number, String, Bool
- range
- tuple
## 변경 가능한 데이터(mutable)
- list
- set
- dictionary

## 시퀀스(sequence)형 : 순서가 있는(ordered) 데이터
- 순서가 있다 != 정렬되어 있다
- 리스트(list), 튜플(tuple), 레인지(range), 문자형(string), 바이너리(binary)
## 비시퀀스(non-sequence)형 : 순서가 없는(non-ordered) 데이터
- 세트(set), 딕셔너리(dictionary)

## 리스트(list)
- 리스트는 순서가 있는 시퀀스로 인덱스를 통해 접근
- 인덱스는 0부터 시작

In [2]:
[1, 2, 3]

[1, 2, 3]

In [3]:
list((1, 2, 3))

[1, 2, 3]

In [4]:
print(type([1, 2, 3]))

<class 'list'>

In [5]:
# 값 접근
lst = [1, 2, 3]
lst[0]

1

In [6]:
lst[0] = '1'
lst

['1', 2, 3]

In [7]:
lst = [[1, 2], [3, 4]]
lst[0][1]

2

## 튜플(tuple)
- 소괄호(()) 혹은 tuple()을 통해 생성
- 값에 대한 접근은 tuple(i)

In [8]:
(1, 2, 3, 1)

(1, 2, 3, 1)

In [9]:
tuple((1, 2, 3, 1))

(1, 2, 3, 1)

In [10]:
type((1, 2, 3, 1))

tuple

In [12]:
tup = (1, 2, 3, 1)
tup[1]

2

In [13]:
# 값 변경은 불가능
tup[3] = 4

TypeError: 'tuple' object does not support item assignment

In [14]:
# 튜플은 일반적으로 파이썬 내부에서 활용된다.
x, y = 1, 2
print(x, y)

1 2

In [17]:
# 실제로 튜플로 처리
x, y = (1, 2)
print(x, y)

1 2

In [18]:
# 두 변수의 값 swap
x, y = 1, 2
x, y = y, x
print(x, y)

2 1

In [19]:
print(divmod(5, 2))
quo, remi = divmod(5, 2)
print(quo, remi)

(2, 1)
2 1

In [20]:
a = (1)
print(type(a))

<class 'int'>

In [21]:
# 하나의 항목으로 구성된 튜플은 생성시 값 뒤에 쉼표를 붙여야 한다.
b = (1,)
print(type(b))

<class 'tuple'>

## 레인지(range)
- range는 숫자의 시퀀스를 나타내기 위해 사용
- 기본형 : range(n)
    - 0부터 n-1까지의 숫자의 시퀀스
- 범위 지정 : range(n, m)
    - n부터 m-1까지의 숫자의 시퀀스
- 범위 및 스탭 지정 : range(n, m , s)
    - n부터 m-1까지 s만큼 증가시키며 숫자의 시퀀스

In [23]:
range(4)

range(0, 4)

In [24]:
list(range(4))

[0, 1, 2, 3]

In [26]:
print(type(range(4)))

<class 'range'>

In [27]:
# 역순
list(range(6, 1, -1))

[6, 5, 4, 3, 2]

In [28]:
list(range(1, 6, -1))

[]

In [29]:
list(range(6, 1, 1))

[]

## containment test

In [30]:
# list
1 in [3, 2]

False

In [31]:
# tuple
4 in (1, 2, 'hello')

False

In [32]:
# range
-3 in range(3)

False

In [33]:
# string
'a' in 'apple'

True

In [34]:
# not in
'b' not in 'apple'

True

## containment+

In [35]:
# list
['1'] + [2, 3]

['1', 2, 3]

In [36]:
# tuple
('1',) + (2, 3)

('1', 2, 3)

In [37]:
# range
range(2) + range(2, 5)

TypeError: unsupported operand type(s) for +: 'range' and 'range'

In [38]:
# string
'a' + 'b'

'ab'

## 인덱싱(indexing)

In [39]:
# list
[1, 2, 3][0]

1

In [40]:
# tuple
(1, 2, 3)[0]

1

In [42]:
# range
range(3)[0]

0

In [43]:
# string
'123'[0]

'1'

## 슬라이싱(slicing)

In [44]:
# list
[0, 1, 2, 3, 4, 5][1:3]

[1, 2]

In [45]:
# tuple
(0, 1, 2, 3, 4)[:2]

(0, 1)

In [46]:
# range
range(6)[1:5]

range(1, 5)

In [47]:
# string
'123456'[0:2]

'12'

In [50]:
# 간격으로 슬라이싱
print([0, 1, 2, 3, 4, 5][1:3:2])
print((0, 1, 2, 3, 4, 5, 6)[:6:3])
print(range(11)[1:5:5])
print('123456'[0:4:2])

[1]
(0, 3)
range(1, 5, 5)
13

## 길이 
- len()
## 최소/최대
- min()/max()
## 특정 원소의 개수 세기
- count()

In [51]:
[0, 1, 2, 3, 1, 1].count(1)

3

In [52]:
(0, 1, 2, 0, 1, 1).count(0)

2

In [53]:
range(7).count(5)

1

In [54]:
'apple'.count('p')

2

In [55]:
([1, 2]*2 + ['apple', 'banana'])[4].count('a') in range(2, 5)

False

In [56]:
[1, 2]*2 + ['apple', 'banana']

[1, 2, 1, 2, 'apple', 'banana']

In [58]:
([1, 2]*2 + ['apple', 'banana'])[4]

'apple'

In [60]:
([1, 2]*2 + ['apple', 'banana'])[4].count('a')

1